.centerinput
{
    max-width: 500px;
    margin: auto;
    margin-bottom: 1px;
    
}

.center
{
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.centerbutton
{
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-right: 40px;
}

.centertext
{
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

input {
    width: 300px;
    height: 35px;
    font-size: larger;
}

div {
    display: flex;
}

button {
    padding: 30px 50px;
    margin: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: white;
    outline: none;
    border-radius: 15px;
    font-size: larger;
}      