.centerinput
{
    max-width: 500px;
    margin: auto;
    margin-bottom: 1px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

.center
{
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.centerbutton
{
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    padding: 30px 50px;
    margin: 7px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: white;
    border-style: solid;
    font-size: larger;
}

.centertext
{
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    color: white;
}

input {
    width: 300px;
    height: 35px;
    font-size: larger;
}

div {
    display: flex;
}     